.inputNoteContainer{    
    background: var(--white);
    padding: 1.5rem 2rem;
    margin: 2rem auto;
    border-radius: 6px;    
}

.inputNoteContainer form{
    display: flex;
    flex: 1;
}

.inputNoteContainer input{
    padding: 2rem;
    background: var(--blue-light);
    border:0;
    border-radius: 6px;
    flex: 1;
    outline: none;
    font-size: 2rem;
    font-weight: 300;
}

.inputNoteContainer button{
    padding: 1rem;
    background: var(--blue-light);
    flex: 0.2;
    font-size: 1rem;
    color:var(--black);
    border:0;
    text-transform: uppercase;
    font-weight: 00;
    cursor: pointer;
    outline: none;
    transition: filter 0.2s;
    border-left: 2px solid var(--white);
    border-radius: 0 6px 6px 0;
}
.inputNoteContainer button:hover{
    filter:opacity(0.8);    
}