.notesContainer{

    background: var(--white);
    height: 100%;
    color:var(--black);

    border-radius: 6px;
    box-shadow: 0 0 rgb(0, 0, 0, 0,05);
    padding: 1.5rem 2rem;


    font-size: 1rem;
    font-weight: 300;
    margin-top: 2rem;

    display: flex;
    flex-wrap: wrap;

}

.note{
    margin: 10px;
    background: var(--blue-light);
    padding: 1.5rem 2rem;
    margin-bottom: 0.4rem;
    flex: 1 1 200px;
    border-bottom: 2px solid var(--pink);
}

.note p{
    margin-bottom: 1rem;
}

